{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}User Account{% endblock %}</h2>
{% endblock %}

{% block content %}
  <body>
    {% for u in user %}
      <h3>Profile Information</h3>
      <p>Username: {{ u.user_name }}</p>
      <p>Phone Number: {{ u.user_phone_number }}</p>
      <p>Email: {{ u.user_email }}</p>
    {% endfor %}

    <h3>Saved Trials</h3>
    <table>
      <thead>
        <tr>
            <th> Trial Name </th>
            <th> Cancer Type </th>
            <th> Treatment </th>
            <th> Status </th>
            <th> Type </th>
            <th> Phase </th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <td><a href="{{ url_for('trialpage', trial_id=result.nct) }}">{{ result.trial_name }}</a></td>
            <td>{{ result.cancer_type }}</td>
            <td>{{ result.treatment_type }}: {{ result.treatment }}</td>
            <td>{{ result.status }}</td>
            <td>{{ result.type }}</td>
            <td> {{ result.phase | join(', ') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
{% endblock %}