<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
<nav>
  <h1>Cancer Clinical Trials</h1>
  {% if g.user %}
  <div class="account">
    <span>User: {{ g.user['user_name'] }}</span>
    <a href="{{ url_for('logout') }}">Log Out</a>
  </div>
  <div class="menu-buttons">
    <form method="get" action="/">
      <button type="submit">Home</button>
    </form>
    <form method="get" action="/account">
      <button type="submit">My Account</button>
    </form>
  </div>
  {% else %}
    <div class="account">
      <a href="register">Register</a>
      <a href="login">Log In</a>
    </div>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>