<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<nav>
  <h1><u>Cancer Clinical Trial Database</u></h1>
  {% if g.user %}
    <span>User: {{ g.user['user_name'] }}</span>
    <br>

    <a href="logout">Log Out</a>

    <br><br>

    <form method="get" action="/">
      <input type="submit" value="Back to Home">
    </form>
    <form method="get" action="/account">
      <input type="submit" value="My Account">
    </form>
  {% else %}
    <a href="register">Register</a>
    <br>
    <a href="login">Log In</a>
  {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <b><div class="flash">{{ message }}</div></b>
  {% endfor %}
  {% block content %}{% endblock %}
</section>