{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Search{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('results') }}" class="input-container">
    <div class="input-field">
      <label for="condition">Condition/Keyword:</label>
      <input type="search" id="condition" name="condition" placeholder="Search by Keyword" autofocus>
    </div>

    <div class="input-field">
      <label for="location">Location:</label>
      <select id="location" name="location" >
        <option value="">Any Location</option>
        {% for location in locations %}
            <option value="{{ location }}">{{ location }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="general-btn">Search</button>
  </form>  
{% endblock %}
