{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" class="input-container">
    <div class="input-field">
      <label for="username">Username</label>
      <input name="username" id="username" required>
    </div>

    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
    
    <button type="submit" class="general-btn">Log In</button>
  </form>
{% endblock %}