{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" class="input-container">
    <div class="input-field">
      <label for="username">Username</label>
      <input name="username" id="username" required>
    </div>

    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div class="input-field">
      <label for="phone number">Phone Number</label>
      <input type="phone number" name="phone number" id="phone number" required>
    </div>
    
    <div class="input-field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <button type="submit" class="general-btn">Register</button>
  </form>
{% endblock %}