{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <body>
    <form method="get" action="/results">
      <input type="submit" value="Back to Results">
    </form>

    <form method="get" action="/save">
      <input type="submit" value="Save Trial">
    </form>

    {% for result in results %}
    <h1>{{ result[1] }}</h1>


    <form action="{{ url_for('add_save') }}" method="POST">
      <input type="hidden" name="trial_id" value="{{ result.nct }}">
      <button type="submit">Add to Favorites</button>
    </form>
    
    <h2>Description</h2>
    <p>{{ result[2] }}</p>

    <h2>Basic Information</h2>
    <ul>
        <li>NCT Number: {{ result[0] }}</li>
        <li>Status: {{ result[3] }}</li>
        <li>Number of Patients: {{ result[4] }}</li>
        <li>Type: {{ result[5] }}</li>
        <li>Phase: {{ result[6] }}</li>
        <li>Start Date: {{ result[7] }}</li>
        <li>End Date: {{ result[8] }}</li>
    </ul>

    <h2>Location</h2>
    <ul>
      <li>Location Name: {{ result[29] }}</li>
      <li>Address: {{ result[30] }}</li>
      <li>         {{ result[31] }}</li>
      <li>         {{ result[32] }}</li>
      <li>         {{ result[33] }}</li>
      <li>         {{ result[34] }}</li>
    </ul>

    <h2>Eligibility</h2>
    <ul>
      <li>Min Age: {{ result[23] }}</li>
      <li>Max Age: {{ result[24] }}</li>
      <li>Sex: {{ result[25] }}</li>
      <li>Inclusion/Exclusion Criteria: {{ result[26] }}</li>
    </ul>

    <h2>Condition/Intervention Information</h2>
    <ul>
      <li>Cancer Type: {{ result[42] }}</li>
      <li>Cancer Stage: {{ result[43] }}</li>
      <li>Treatment: {{ result[44] }}</li>
      <li>Treatment Type: {{ result[45] }}</li>
      <li>Primary Outcome Measurements: {{ result[35] }}</li>
      <li>Secondary Outcome Measurements: {{ result[36] }}</li>
      <li>Other: {{ result[37] }}</li>
    </ul>

    <h2>Sponsor Information</h2>
    <ul>
      <li>Institution Name(s): {{ result[12] }}</li>
      <li>Contact Person Name: {{ result[14] }}</li>
      <li>Phone Number: {{ result[15] }}</li>
      <li>Email: {{ result[16] }}</li>
      <li>Address: {{ result[17] }}</li>
      <li>         {{ result[18] }}</li>
      <li>         {{ result[19] }}</li>
      <li>         {{ result[20] }}</li>
      <li>         {{ result[21] }}</li>


    </ul>
  </body>

  {% endfor %}

{% endblock %}
