{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}{% endblock %}</h2>
{% endblock %}

{% block content %}
  <body>
    {% for result in results %}
    <h2>{{ result.trial_name }}</h2>

    <form action="{{ url_for('add_save') }}" method="POST">
      <input type="hidden" name="trial_id" value="{{ result.nct }}">
      <button type="submit" class="general-btn">Add to Favorites</button>
    </form>

    <form action="{{ url_for('remove_save') }}" method="POST">
      <input type="hidden" name="trial_id" value="{{ result.nct }}">
      <button type="submit" class="general-btn">Remove from Favorites</button>
    </form>

    <h3>Description</h3>
    <p>{{ result.description }}</p>

    <h3>Basic Information</h3>
    <ul>
      <li><u>NCT Number</u>: {{ result.nct }}</li>
      <li><u>Status</u>: {{ result.status }}</li>
      <li><u>Number of Patients</u>: {{ result.number_of_patients }}</li>
      <li><u>Type</u>: {{ result.type }}</li>
      <li><u>Phase</u>: {{ result.phase | join(', ') }}</li>
      <li><u>Start Date</u>: {{ result.start_date }}</li>
      <li><u>End Date</u>: {{ result.end_date }}</li>
    </ul>

    <h3>Eligibility</h3>
    <ul>
      <li><u>Age</u>: {{ result.age | join(', ') }}</li>
      <li><u>Sex</u>: {{ result.sex }}</li>
    </ul>

    <h3>Condition/Intervention Information</h3>
    <ul>
      <li><u>Cancer Type</u>: {{ result.cancer_type }}</li>
      <li><u>Treatment</u>: {{ result.treatment }}</li>
      <li><u>Treatment Type</u>: {{ result.treatment_type }}</li>
      <li><u>Primary Outcome Measurements</u>: {{ result.primary_measurements }}</li>
      <li><u>Secondary Outcome Measurements</u>: {{ result.secondary_measurements }}</li>
      <li><u>Other</u>: {{ result.other }}</li>
    </ul>
    {% endfor %}

    <h3>Location(s)</h3>
    {% for location in locations %}
    <u>Location Name</u>: {{ location.location_name }}
    <ul>
      <li><u>Address</u>: {{ location.address_city }},
                   {{ location.address_state }},
                   {{ location.address_zipcode }},
                   {{ location.address_country }}
    </ul>
    {% endfor %}

    <h3>Sponsor(s) Information</h3>
    {% for sponsor in sponsors %}
    <u>Institution Name(s)</u>: {{ sponsor.institution_name }}
    <ul>
      <li><u>Contact Person Name</u>: {{ sponsor.contact_person_name }}</li>
      <li><u>Phone Number</u>: {{ sponsor.phone_number }}</li>
      <li><u>Email</u>: {{ sponsor.email }}</li>
      <li><u>Address</u>: {{ sponsor.address_street }},
                   {{ sponsor.address_city }},
                   {{ sponsor.address_state }},
                   {{ sponsor.address_zipcode }},
                   {{ sponsor.address_country }}
    </ul>
    {% endfor %}

  </body>

{% endblock %}
